Repository wilhelm-lab/koina, pull requests merged in 2024-05, with the labels that each got.

#85 biowc-spectrum integration
  web/components/OpenapiDocs.vue
  web/nuxt.config.ts
  web/package-lock.json
  web/package.json
  web/server/middleware/cors.ts
  web/utils/transform-spectrum.ts
Labels: docs

#86 chore: update biowc-spectrum to 0.0.3
  web/package-lock.json
  web/package.json
Labels: docs

#88 Feature/add code examples
  web/.gitignore
  web/openapi/openapi_gen.py
  web/openapi/templates/code/java_15.txt
  web/openapi/templates/code/java_8.txt
  web/openapi/templates/code/rlang_koinar.txt
  web/openapi/templates/openapi.yml
  web/public/openapi.yml
Labels: docs

#89 Add new prediction mode to prevent overloading with multiprocessing.
  clients/python/koinapy/grpc.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
Labels: python-client

#90 Hotfix progress bar.
  clients/python/koinapy/grpc.py
  models/Prosit/Prosit_2023_intensity_timsTOF/notes.yaml
Labels: docs, python-client

#91 Update version.
  clients/python/pyproject.toml
Labels: python-client

#92 Feature/df output
  clients/python/koinapy/grpc.py
  clients/python/pyproject.toml
  clients/python/test/lib.py
Labels: python-client
